.inputselect {
  width: 140px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 3px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bolder;
  border-radius: 15px;
  border: 2px solid rgb(219, 245, 134);
  margin-bottom: 25px;
}
