body {
  background-color: rgb(2, 2, 29);
}

.header {
  display: flex;
  justify-content: center;
  padding: 10px;
  &__logo {
    width: 320px;

    @media screen and (min-width: 720px) {
      width: 600px;
    }
  }
}
